


  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>





<h1>{{title}} {{nombre}}</h1>


<h1>hola</h1>


<div class="container container-clase">
  <!-- el container sirve para mantener uniforme el ancho   -->
   <app-componentes></app-componentes>
   <app-bindings></app-bindings>
   <app-ciclos-de-vida></app-ciclos-de-vida>
   <app-calculadora></app-calculadora>
</div>
